### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
# total_players_df = purchase_data["SN"].value_counts()
# total_players_df

total_players = len(purchase_data["SN"].value_counts())
player_count = pd.DataFrame({"Total Players":[total_players]})
player_count

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
unique_items = len(purchase_data["Item ID"].unique())
avg_purchase_price = purchase_data["Price"].mean()
total_purchases = purchase_data["Purchase ID"].count()
total_revenue = purchase_data["Price"].sum()

purchasing_analysis = pd.DataFrame({"Number of Unique Items": [unique_items],
                                    "Average Price": [avg_purchase_price],
                                    "Number of Purchases": [total_purchases],
                                    "Total Revenue": [total_revenue]})

purchasing_analysis.style.format({"Average Price": "${:.2f}",
                                 "Total Revenue": "${:.2f}"})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
gender_df = purchase_data.groupby("Gender")
total_gen_ct = gender_df.nunique()["SN"]
gender_pct = total_gen_ct / total_players *100
gender_demo = pd.DataFrame({"Percentage of Players": gender_pct,
                                   "Total Count": total_gen_ct})
gender_demo.index.name = None
gender_demo.sort_values("Percentage of Players", ascending = False).style.format({"Percentage of Players":"{:.2f}%"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
# Set variables related to purchase count, average price, and average total from group Gender list
pur_count = gender_df["SN"].count()
avg_price = gender_df["Price"].mean()
pur_total = gender_df["Price"].sum()


pur_analysis = pd.DataFrame({"Purchase Count": pur_count,
                            "Average Purchase Price": avg_price,
                            "Average Purchase Total": pur_total})
pur_analysis.sort_values("Purchase Count", ascending=False).style.format({"Average Purchase Price":"${:.2f}",
                           "Average Purchase Total":"${:.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
# Create bins for the defined age groups
bins = [0, 10, 15, 20, 25, 30, 35, 40, 100]
groups = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
# Use pd.cut() to take values from "Age" and put them into bins in a new column "Age Demographic"
purchase_data["Age Demographic"] = pd.cut(purchase_data["Age"], bins, labels=groups)
# Create a new data frame of the new column grouped, sorted by bin, and define percentage
age_group = purchase_data.groupby("Age Demographic")
demo_counts = age_group.nunique()["SN"]
demo_pct = ((demo_counts / total_players) * 100)
age_demo = pd.DataFrame({"Total Count":demo_counts,
                        "Percentage of Players":demo_pct})
# Remove index label
age_demo.index.name = None
# Round "Percentage..." column and display %
age_demo.style.format({"Percentage of Players":"{:.2f}%"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
age_pur_count = age_group["Age"].count()
avg_age_price = age_group["Price"].mean()
age_total_pur = age_group["Price"].sum()
avg_total_per = (age_total_pur / demo_counts)

analysis_age = pd.DataFrame({"Purchase Count": age_pur_count,
                            "Average Purchase Price": avg_age_price,
                            "Total Purchase Value": age_total_pur,
                            "Purchase Total Per Person": avg_total_per})
analysis_age.style.format({"Average Purchase Price": "${:.2f}",
                          "Total Purchase Value":"${:.2f}",
                          "Purchase Total Per Person":"${:.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [11]:
sn_group = purchase_data.groupby("SN")
sn_purchase = sn_group["Age"].count()
sn_avg_pur = sn_group["Price"].mean()
sn_tot_pur = sn_group["Price"].sum()
# sn_tot_per = (sn_tot_pur / demo_counts)

top_spender_df = pd.DataFrame({"Purchase Count": sn_purchase,
                              "Average Purchase Price": sn_avg_pur,
                              "Total Purchase Value": sn_tot_pur})
top_spender_df = top_spender_df.sort_values("Total Purchase Value", ascending=False)
top_spender_df.style.format({"Average Purchase Price":"${:.2f}",
                            "Total Purchase Value": "${:.2f}"})
top_spender_df.head(10).head(10).style.format({"Average Purchase Price":"${:.2f}",
                            "Total Purchase Value": "${:.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
pop_df = purchase_data.loc[:,["Item ID", "Item Name", "Price"]]

pop_group = purchase_data.groupby(["Item ID", "Item Name"])
pop_purchase = pop_group["Age"].count()
pop_avg_pur = pop_group["Price"].mean()
pop_tot_pur = pop_group["Price"].sum()
most_pop_df = pd.DataFrame({"Purchase Count": pop_purchase,
                           "Average Purchase Price": pop_avg_pur,
                           "Total Purchase Value": pop_tot_pur})
most_pop_df = most_pop_df.sort_values("Purchase Count", ascending=False)
# most_pop_df.style.format({"Average Purchase Price":"${:.2f}",
#                             "Total Purchase Value": "${:.2f}"})
most_pop_df.head(10).style.format({"Average Purchase Price":"${:.2f}",
                            "Total Purchase Value": "${:.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [10]:
most_prof_df = most_pop_df.sort_values("Total Purchase Value", ascending=False)
most_prof_df.head(10).style.format({"Average Purchase Price":"${:.2f}",
                            "Total Purchase Value": "${:.2f}"})